[run]
source = offline-folder-rag/edge_agent
branch = false
omit =
    */tests/*
    */__pycache__/*
    */venv/*
    *context_analyzer*
    *formatter*
    *page_tracker*
    *project_scanner*
    *space_manager*
    *state_machine*
    *templates*
    *utils*
    *analysis_chain*
    *formatting_chain*
    *matching_chain*
    *confluence_tools*
    *vector_stores*
    *confluence_logger*
    *logger*
    *main.py
    *confluence_tasks*
    *health_monitor*
    *orchestrator*
    *state_tracker*
    *task_queue*
    *doctor*
    *search*
    *defaults*
    *confluence_routes*
    *client*
    *db_adapter*
    *error_handler*
    *example_manager*
    *export_import*
    *optimizer*
    *prd_monitor*
    *content_analysis_agent*
    *formatting_agent*

[report]
fail_under = 100
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
